apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
  namespace: data-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      containers:
      - name: airflow-webserver
        image: airflowthesis:latest
        command: ["airflow", "webserver"]
        ports:
          - containerPort: 8080
        envFrom:
          - configMapRef:
              name: airflow-config
